*, *:before, *:after {
    box-sizing: border-box;
}

canvas {
    background-color: #aaaaf1;
}

#canvas2 {
    background-color: #babac7;
}

input[type="range"] {
    display: inline-block;
    width: 300px;
}
