*, *:before, *:after {
    box-sizing: border-box;
}

input.syntax_ok {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #0cc;  /* Optional: Sets a base border */
    padding: 10px;           /* Adjust padding as needed */
    outline: none;           /* Removes default outline on focus */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7); /* Glowing effect */
    transition: box-shadow 0.3s ease-in-out;     /* Smooth transition */
}

input.syntax_error {
    box-shadow: 0 0 15px rgba(255, 150, 255, 1); /* Stronger glow on focus */
}

canvas {
    background-color: #e8e8e8;
    display: inline-block;
    cursor: crosshair;
}

p#errormessage1 {
    overflow-x: hidden;
}

/*OUD*/
/*input[type="range"] {*/
/*    width: 300px;*/
/*}*/

/*p.latexrow {*/
/*    font-size: 18pt;*/
/*}*/

/*p.latexrow:nth-child(odd) {*/
/*    background-color: #f0f0ff;*/
/*}*/

/*p#errormessage {*/
/*    padding-left: 10px;*/
/*}*/

/*td#variables {*/
/*    min-width: 202px;*/
/*}*/

/*td#variables div {*/
/*    padding: 5px;*/
/*    display: block;*/
/*    width: 200px;*/
/*    height: 80px;*/
/*    background-color: #ddd;*/
/*}*/

/*td#variables div:nth-child(even) {*/
/*    background-color: #bbb;*/
/*}*/
